# Configuration API
DATABASE_URL=postgresql://postgres:postgres@postgres-dev:5432/airfle?schema=public
JWT_SECRET=votre_clé_secrète_très_sécurisée_pour_production_dev_2024
NODE_ENV=development
PORT=3000

# Configuration PostgreSQL
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=airfle

# Configuration Redis
REDIS_URL=redis://redis-dev:6379
